* {
  margin: 0;
}

/* body, html  {
height: 100%;
background-image: url("https://i1.sndcdn.com/artworks-000562817865-r7y7x6-t500x500.jpg");
background-repeat: no-repeat; 
 background-position: center;  
background-size: cover;
} */
html { 
  background: url('https://i1.sndcdn.com/artworks-000562817865-r7y7x6-t500x500.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.fullHome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;

  
  
  
}

.profil {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-top: 450px;
 
}

.profilImg {
  margin-top: 650px;
  height: 200px;
  width: 300px;
  margin:auto;
  margin-top: 150px;
}

.logoFigma {
  width: 350px;
  height: 180px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logoWP {
  height: 250px;
  width: 400px;

  margin-bottom: 16px;
}
.logoHTML {
  height: 210px;
  width: 350px;
  margin-top: 32px;
  margin-bottom: 16px;
}
ul li {
  list-style: none;
}

.competence1,
.competence2,
.competence3 {
  padding: 16px 16px 16px 16px;
  border: 1px solid black;
  margin: 32px 32px 32px 32px;
  background-color:beige
  
}
.titre {
  color: rgba(17,46,204,255);
  font-size: 75px;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-shadow: black;
  font-weight: bold;
  -webkit-text-stroke: 2px  black;
}

@media only screen and (min-width : 320px) and (max-width: 480px)
