* {
  margin: 0;
}
.competence3{
  margin-bottom: 1000px;
}


html {
  background: url("https://i.pinimg.com/originals/0e/22/b5/0e22b5f6e114d8e3dafa05b9084ec542.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.fullHome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin-top:350px;
  
}

.profil {
  
  margin-top: 750px;
}

.profilImg {
  margin-top: 650px;
  height: 200px;
  width: 300px;
  margin-top: 150px;
}

.logoFigma {
  width: 350px;
  height: 180px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logoWP {
  height: 250px;
  width: 400px;

  margin-bottom: 16px;
}
.logoHTML {
  height: 210px;
  width: 350px;
  margin-top: 32px;
  margin-bottom: 16px;
}
ul li {
  list-style: none;
}

.competence1,
.competence2,
.competence3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 16px 16px 16px;
  border: 1px solid black;
  background-color: white;
  width: 450px;
  height: auto;
  margin-right: 25%;

  margin-top: 16px;
  margin-left: 25%;
}
.titre {
  color: rgba(17, 46, 204, 255);
  font-size: 75px;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
    margin:auto;
}
h2 {color:white;
font-size: 32px; }

span {
  color: red;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 780px) {

  .fullHome {
    display: block;
    flex-wrap: wrap;
    margin-top: 0;

  }

  .profil {
    display: block;
    margin:0;
    
  }

  .profilImg {
    margin:16px;
    border-radius: 4px;
  }

  .logoWP, .logoHTML, .logoFigma {
    width: 250px;
    height: 150px;
  }

  .titre {
    font-size: 22px;
  }

  .competence1, .competence2, .competence3 {
    width: 250px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  
}